In [ ]:
import urllib2
from bs4 import BeautifulSoup
import re
import csv

#with open('tickers.csv', 'rb') as f:
#   reader = csv.reader(f)
#  tickers = list(reader)

tickers = ['AAADX', 'AAAGX']
for ticker in tickers:
    url = 'https://www.google.com/finance/fund_purchase?q='+ticker[0]+'&ei=IxPJV_jvIcjXuASrnJmwBQ'
    print url
    page = urllib2.urlopen(url)
    soup = BeautifulSoup(page, 'lxml')
    name = soup.find(string=re.compile('Initial'))
    #print name
    if name:
        data = name.findNext()
        #print data
    x = 999999999
    if data:
        amount = data.string.strip()[1:].replace(',', '')
        x = int(amount)
    print x

In [ ]:
import csv

with open('tickers.csv', 'rb') as f:
    reader = csv.reader(f)
    tickers = list(reader)

print tickers

In [ ]:
cnx = mysql.connector.connect(user='root', password='l3tm3in',
                              host='127.0.0.1',
                              database='mysql')

In [ ]:
cnx.close()

In [ ]:
config = {
  'user': 'root',
  'password': 'l3tm3in',
  'host': '127.0.0.1',
  'database': 'matching_data',
  'raise_on_warnings': True,
}

cnx = mysql.connector.connect(**config)

In [ ]:
cur = cnx.cursor()

In [ ]:
cur.execute("SHOW TABLES")

In [ ]:
if "MinInvestment" in zip(*cur.fetchall())[0]: 
    cur.execute("DROP TABLE MinInvestment")

In [ ]:
cur.execute("CREATE TABLE MinInvestment(Fund_Ticker CHAR(5), Min_Invest INT)")

In [ ]:
row = ['AAADX']
x = 999999999
cur.execute("INSERT INTO MinInvestment(Fund_Ticker, Min_Invest) VALUES('"+ row[0] +"', "+str(x) + ")")

In [ ]:
cur.execute("SELECT * FROM MinInvestment")
cur.fetchall()

In [ ]:
cnx.close()

In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%sql mysql+mysqlconnector://root:l3tm3in@127.0.0.1/matching_data

u'Connected: root@matching_data'

In [8]:
result = %sql SELECT * FROM MinInvestment

22 rows affected.

In [9]:
type(result)

sql.run.ResultSet

In [12]:
df = result.DataFrame()
df

   Fund_Ticker  Min_Invest
0        AAADX        2500
1        AAAGX        2000
2        AAAIX     5000000
3        AAARX        2500
4        AAAUX           0
5        AACIX      250000
6        AACYX        1000
7        AADDX     1000000
8        AADEX      250000
9        AAEQX           0
10       AAGAX           0
11       AAGOX      500000
12       AAGPX        2500
13       AAIYX           0
14       AALGX        2000
15       AALIX        2000
16       AAMOX      500000
17       AAMPX     1000000
18       AAOPX           0
19       AARBX        1000
20       AARIX     1000000
21       AASCX        2000

In [ ]:
import seaborn as sns
%matplotlib inline